
body{
    margin: 0;
    padding: 0;
    /* background: rgb(171, 151, 156); */
    font-family: sans-serif;
}
.main{
    background-color: antiquewhite;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: url("./images/bgclr.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .main span{ 
    position: absolute;
    display: none;
    top: 15px;
    left: 11px;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.11);
     box-shadow: 0px 0px 10px 1px ; 
}
.main span:nth-child(2){
      left: 97.3%; 
}
.main span:nth-child(3){
    top: 93%; 
}
.main span:nth-child(4){
    left: 97.3%; 
    top: 93%; 
}
.main span:nth-child(5){
    left: 59px; 
}
.main span:nth-child(6){
     
    top: 59px; 
}
.main span:nth-child(7){
    left: 97.3%; 
    top: 59px; 
}
.main span:nth-child(8){
    left: 94%; 
}
.main span:nth-child(9){
    left: 94%; 
    top: 93%; 
}
.main span:nth-child(10){
    left: 59px; 
    top: 93%; 
}
.main span:nth-child(11){ 
    top: 85.4%; 
}
.main span:nth-child(12){
    left: 97.3%; 
    top: 85.4%; 
}*/
.head{
    width: 100%;
    text-align: center;
   
}
.head h1{
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: auto;
    width: max-content;
  margin-top : 30px;
    position: relative;
    top: 50px;
    font-weight: 900;
    opacity: 0.8;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: blue;
   
    overflow: hidden;
    
    font-size: 80px;
    animation: appear 2s ;
    color: rgb(1, 7, 12);
}
@keyframes appear {
    0%{
        height: 0;
    }    
    100%{
        height: 97px;
    }
}
.head img{
    width: 25%;
    margin: 30px;
}
.head input{
    margin-top: 5px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px;
    outline: none;

    border: none;
    background-color: black;
}
.head button{
    margin-top: 20px ;
    padding: 5px 15px ;
    color: white;
    background: rgb(18, 11, 12);

}
.head button:hover{
    background: rgba(18, 11, 12, 0.345);
    cursor: pointer;
}


.spage{
    position: absolute;
     top: 0;
    left: 0; 
    background: url("./images/q2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#name1{
    color: white;
    margin-left: 80px;
    background-color: rgb(150, 93, 83);
    width: max-content;
    padding: 5px;
    box-shadow: 0px 0px 15px 10px rgb(105, 57, 57);
}
#name{
    /* color: white; */
    /* margin-left: 150px; */
    margin-top: -39px;
}
#sp{
    display: none; 
}
.content{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 20px;
}
.content .q1 p{
    font-weight: 600;
    font-size: 20px;
    color:beige;
    font-family: sans-serif;

}
.content .submit{
    padding: 6px 30px;
    margin-top: 30px;
    background-color: aquamarine;
    transition: 0.3s ease;
}
.content .submit:hover{
    cursor: pointer;
    background-color: rgb(10, 183, 125);
    color: black;
}

.content .ans1 button{
    width: 400px;
    text-align: start;
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(213, 244, 234);
}
.content .ans1 button:hover{
    /* background-color: rgba(0, 128, 0, 0.372); */
    cursor: pointer ;
    color: rgb(36, 151, 63);
}
.rlight{
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 75%;
    animation: light 0.1s infinite;
    display: none;  
}@keyframes light{
    0%{
        box-shadow: none;

    }
    50%{
        box-shadow: 0px 0px 100px 150px red;
    }
    100%{
        box-shadow: none;
    }
}
.glight{
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: rgb(0, 128, 0);
    position: absolute;
    top: 50%;
    left: 75%;
    display: none; 
    animation: glight 0.1s infinite;
    
}@keyframes glight{
    0%{
        box-shadow: none;

    }
    50%{
        box-shadow: 0px 0px 100px 150px green;
    }
    100%{
        box-shadow: none;
    }
}

.instruction p{
    color:black;
    width: max-content;
    font-weight: 500;
    margin: 5px;
}
.instruction{
    width: max-content;
    background-color: rgba(240, 255, 255, 0.039);
    padding: 0px 10px 10px 10px;
    overflow: hidden;
    height: 49px;
    margin: auto;
    margin-top: 80px;
   
    font-size: 15px;
    animation: ishow 2s;
    transition: 1s ease;
   
}
#iclose{
    display: none;
    cursor: pointer;
}
@keyframes ishow {
    0%{
        width: 0;
        
    }
    100%{
        width: 340px;
        
    }
    
}
.instruction h4{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
text-align: start;
}
.instruction h4 span{
    font-weight: 200;
    opacity: 0.3;
}
.instruction h4:hover{
    cursor: pointer;
}
.result{
    position: absolute;
    top: 0;
    left:0 ;
    background: url(./images/questionbg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.result .resultstore{
    position: absolute;
    color: white;
    font-weight: 900;
    top:70%;
    left:40%;
    font-size: 50px;
}
.result .leftlight{
    width: 1px;
   
    height: 50vh;
    background-color: green;
    position: absolute;
    color: white;
    
}
#leftlight{
    top: 25%;
    left: 5%;
    animation: lgrlight 0.5s infinite;
}
@keyframes lgrlight{
    0%{
        box-shadow:  0px 0px 75px 50px green;
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow:  0px 0px 75px 50px green;
    }
}
#rightlight{
    top: 25%;
    right:5%;
    animation: rgrlight 0.5s infinite ;

}
@keyframes rgrlight{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 75px 50px green;
    }
    100%{
        box-shadow: none;
    }
}
@keyframes rrrlight{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 75px 50px red;
    }
    100%{
        box-shadow: none;
    }
}
@keyframes lrrlight{
    0%{
        box-shadow: 0px 0px 75px 50px red;
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 0px 75px 50px red;
    }
}
#getresult1{
    display: none;
}
@media screen and (max-width:500px) {
    .spage{
        
        background: url("./images/bgclr.jfif");
    }
    .main{
        
        
        background: url("./images/bgclr.jfif");
    }
    .instruction p{
      
        width: max-content;
       
        font-size: 12px;
    }
    
    .head h1{
       
        
        font-size: 20px;
        color: white;
    }
    
    #name1{
        color: white;
        margin-left: 30px;
        
        
    }
    #name{
    
        /* margin-left: 110px; */
        margin-top: -7.6%;
    }
    .content{
        width: 90%;
        margin-left: 0;
    }
    .content .ans1 button{
        width: 300px;
       
    }
    .rlight{
        width: 500px;
        height: 1px;
        
      
        top: 0;
        left: 0;
       
    }
  
    .glight{
        width: 500px;
        height: 1px;
       
        top: 0;
        left: 0;
      
        
    }
  .result{
    background: url(./images/q2.jpg);
  }
  .result .resultstore{
    top:40%;
    left:10%;
    font-size: 40px;
}
   
}
@media screen and (min-width:501px) and ( max-width:800px) {
    
     
    .main{
        
        
        background: url("./images/bgclr.jfif");
    }.instruction p{
      
        width: max-content;
       
        font-size: 17px;
    }
    
    .head h1{
       
        
        font-size: 30px;
        color: white;
    }
    
    .content .q1 p, .content button {
        
        margin-left: 52px;
    }
    #name1{
        color: white;
        margin-left: 72px;
        margin-top: 30px;
        
        
    }
    #name{
    
        /* margin-left: 150px; */
       
        margin-top: -40px;
        
    }
    .content{
        width: 90%;
        margin-left: 0;
    }
   
    .content .ans1 button{
        width: 400px;
       
    }
    .rlight{
        width: 100vw;
        height: 1px;
        
        top: 0;
        left: 0;
       
    }
  
    .glight{
        width: 100vw;
        height: 1px;
       
        top: 0;
        left: 0;
      
        
    }
    
      .result{
        background: url(./images/q2.jpg);
        background-repeat: no-repeat ;
        background-size: cover;
      }
      .result .resultstore{
        top:50%;
        left:25%;
        font-size: 50px;
    }
}
audio{
    
    display: none;
}
